# OS files
*.DS_Store
Thumbs.db

# Build files
bin
target
build/
.gradle
test_results/
classes/

# Eclipse project files
.classpath
.project
.settings
.springBeans

# Intellij IDEA files
*.iml
*.ipr
*.iws
*.idea

